.profile-ava img{

    border-radius: 50%;

    -webkit-border-radius: 50%;

    border: 2px solid #688a7e;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: 5px;

}

.profile-ava img.simple{

    border-radius: 50%;

    -webkit-border-radius: 50%;

    border: 2px solid rgba(0,112,255,0.4);

    display: inline-block;

}
/*
.top-nav .username {

    font-size: 13px;

    color: #bdbdbd;

}

.dropdown-menu.extended {

    max-width: 300px !important;

    min-width: 160px !important;

    top: 42px;

    width: 235px !important;

    padding: 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;

    border: none !important;

    border-radius: 4px;

    -webkit-border-radius: 4px;

}
@media screen and (-webkit-min-device-pixel-ratio:0) {



    .dropdown-menu.extended  {

        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;

    };

}
.dropdown-menu.extended li p {

    background-color: #F1F2F7;

    color: #666666;

    margin: 0;

    padding: 10px;

}

.dropdown-menu.extended li p.green {

    background-color: #4cd964;

    color: #fff;

}



.dropdown-menu.extended li p.red {

    background-color: #00a0df;

    color: #fff;

}

.dropdown-menu.extended li p.blue {

    background-color: #688a7e;

    color: #fff;

}



.dropdown-menu.extended li p.yellow {

    background-color: #fcb322;

    color: #fff;

}



.dropdown-menu.extended li a {

    border-bottom: 1px solid #EBEBEB !important;

    font-size: 12px;

    list-style: none;

}



.dropdown-menu.extended li a {

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}



.dropdown-menu.extended li a:hover {

    background-color: #F7F8F9 !important;

    color: #2E2E2E;

    border-bottom: 1px solid #688a7e !important;

}
.dropdown-menu.extended .progress {

    margin-bottom: 0 !important;

    height: 10px;

}



.dropdown-menu.inbox li a .photo img {

    border-radius: 2px 2px 2px 2px;

    float: left;

    height: 40px;

    margin-right: 4px;

    width: 40px;

}

.dropdown-menu.extended.logout > li {

    float: left;

    text-align: left;

    width: 100%;

}

.dropdown-menu.extended.logout > li.eborder-top {

    border-top: 2px solid #688a7e !important;

}

.dropdown-menu.extended.logout > li:last-child {

    float: left;

    text-align: left;

    width: 100%;

    background: #688a7e;

}



.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {

    color: #fff;

    border-bottom: none !important;

    text-transform: uppercase;

    background-color:#688a7e !important;

}



.dropdown-menu.extended.logout > li:last-child > a:hover > i{

    color: #fff;

}

.dropdown-menu > li > a{

    color: #797979;

}

.dropdown-menu.extended.logout > li > a {

    border-bottom: 1px solid #EBEBEB !important;

    font-size: 14px;

    list-style: none;

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}



.dropdown-menu.extended.logout > li > a:hover {

    background-color: #F7F8F9 !important;

    color: #2E2E2E;

    border-bottom: 1px solid #688a7e !important;

}



.dropdown-menu.extended.logout > li > a:hover i {

    color: #688a7e;

}



.dropdown-menu.extended.logout > li > a i {

    font-size: 17px;

}



.dropdown-menu.extended.logout > li > a > i {

    display: inline-block;

    padding-right: 10px

}



.top-nav .dropdown-menu.extended.logout {

    top: 50px;

}
*/