

<div class="row mt-5">
  <div class="col-md-3  mb-3">
    <div class="input-group mb-3 input-group-lg">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-dark" type="submit"><i class="fas fa-times"></i></button>  
       </div>
    </div> 
  </div>
  <div class="col-md-9  mb-3 ">
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-danger" type="submit"><i class="fas fa-times"></i></button>  
       </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
  <p><strong>223</strong> results matching search You can find matches on the program brief using a plain text search</p>
  </div>
  <div class="col-md-2 text-right">
    <button type="button" class="btn btn-outline-primary">Search help</button>
  </div>
  <hr>
</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row mt-2">
  
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card border border-danger ">
        <div class="card-header bg-danger" style="text-align: center;">
          <img class="card-img-top" src="../../assets/images/1.png" alt="Card image" style="width:40%;">
        </div>
        <div class="card-body text-left">
          <p class="card-text"><a href="#"><h3>BETTER</h3></a></p>
          <p class="card-text">Details ......................</p>
          <p class="card-text"><i class="fas fa-award mr-2" style="color: #F08080;"></i>200$</p>
          <p class="card-text"><i class="fas fa-crosshairs mr-2" style="color: red;"></i>Managed by NearSecure</p>
        </div>
        <div class="card-footer">
        <button type="button" (click)="onNavigate('programs/report')" class="btn btn-danger" style="margin-right: 5px;">Submit report</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card border border-danger ">
        <div class="card-header bg-warning" style="text-align: center;">
          <img class="card-img-top" src="../../assets/images/2.png" alt="Card image" style="width:40%;">
        </div>
        <div class="card-body text-left">
          <p class="card-text"><a href="#"><h3>NAB</h3></a></p>
          <p class="card-text">Details ......................</p>
          <p class="card-text"><i class="fas fa-award mr-2" style="color: #F08080;"></i>200$</p>
          <p class="card-text"><i class="fas fa-crosshairs mr-2" style="color: red;"></i>Managed by NearSecure</p>
        </div>
        <div class="card-footer">
        <button type="button" (click)="onNavigate('programs/report')" class="btn btn-danger" style="margin-right: 5px;">Submit report</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card border border-danger ">
        <div class="card-header bg-info" style="text-align: center;">
          <img class="card-img-top" src="../../assets/images/3.png" alt="Card image" style="width:40%;">
        </div>
        <div class="card-body text-left">
          <p class="card-text"><a href="#"><h3>BUCKS</h3></a></p>
          <p class="card-text">Details ......................</p>
          <p class="card-text"><i class="fas fa-award mr-2" style="color: #F08080;"></i>200$</p>
          <p class="card-text"><i class="fas fa-crosshairs mr-2" style="color: red;"></i>Managed by NearSecure</p>
        </div>
        <div class="card-footer">
        <button type="button" (click)="onNavigate('programs/report')" class="btn btn-danger" style="margin-right: 5px;">Submit report</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card border border-danger ">
        <div class="card-header bg-success" style="text-align: center;">
          <img class="card-img-top" src="../../assets/images/4.png" alt="Card image" style="width:40%;">
        </div>
        <div class="card-body text-left">
          <p class="card-text"><a href="#"><h3>COMCAST</h3></a></p>
          <p class="card-text">Details ......................</p>
          <p class="card-text"><i class="fas fa-award mr-2" style="color: #F08080;"></i>200$</p>
          <p class="card-text"><i class="fas fa-crosshairs mr-2" style="color: red;"></i>Managed by NearSecure</p>
        </div>
        <div class="card-footer">
        <button type="button" (click)="onNavigate('programs/report')" class="btn btn-danger" style="margin-right: 5px;">Submit report</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        </div>
      </div>
    </div>

    
</div>
<div class="row mt-3 mb-5" style="text-align: center;">
  <div class="col">
  <button type="button" class="btn btn-primary">Load more</button>
  </div>
</div>
