

  
<div class="row mt-5 " >
  <div class="col-md-4">
    <div class="card card-profile">
        <div class="card-avatar text-center bg-dark" >
            <img class="img rounded-circle border border-danger bg-white" src="../../assets/images/2.png" style="border-width: 5px !important; width: 100px; height: 100px;"/>
        </div>
        <div class="content">
            <p class="card-content mt-3 mr-3 ml-3">
                <strong>DestinyXHeaven</strong><br>
              Resolved reports : 0% <br>
              
            </p>
                <div class="progress ml-3" style="width: 90%;">
                    <div class="progress-bar progress-bar-striped bg-danger" style="width:10%">0%</div>
                </div>
                <ul class="mt-2">
                    <li>Low : 0</li>
                    <li>Medium : 0</li>
                    <li>High : 0</li>
                    <li>Critical : 0</li>
                </ul>
        </div>
    </div>
</div>

  <div class="col-md-8">
      <div class="card">
          <div class="card-header bg-dark text-white " >
              <h4 class="title">Personal details</h4>
              <p class="category">Edit your profile</p>
          </div>
          <div class="card-content mt-3 mr-3 ml-3 mb-3">
              <p>Take a moment to ensure your information is up-to-date in your profile settings, including your location/region.
                 Nearsecure will be adding features that let you see how you rank against other hackers in your region. Opt-in by completing your location!</p>
          </div>
      </div>
  </div>

  
</div>
