  <div class="row justify-content-center align-items-center mt-5">

    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card border border-danger ">
          <div class="card-header bg-dark" style="text-align: center;">
            <i class="fas fa-hat-cowboy fa-3x text-danger"></i>
          </div>
          <div class="card-body text-center">
            <h4>I'm a hacker</h4>
            <p>I want to use my skills to help make the internet a safer place.</p>
        </div>
          <div class="card-footer text-center">
          <button type="button" class="btn btn-danger" (click)="onNavigate('auth/signup/personsignup')" style="margin-right: 5px;">Hacker Login</button>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card border border-danger ">
          <div class="card-header bg-dark" style="text-align: center;">
            <i class="fas fa-users fa-3x text-danger" ></i> 
         </div>
          <div class="card-body text-center">
            <h4>I'm a company</h4>
            <p>I want to use my skills to help make the internet a safer place.</p> 
          </div>
          <div class="card-footer text-center">
          <button type="button" class="btn btn-danger" (click)="onNavigate('auth/signup/companysignup')" style="margin-right: 5px;">Company Login</button>
          </div>
        </div>
      </div>

</div>